@import url("https://use.typekit.net/ypi8nsf.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
}
header {
  background-color: #28292b;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-right: 20px;
}

header a {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  margin: 20px;
  margin-top: 100px;
}
#welcome-section {
  font-family: "Montserrat", sans-serif;
  background-color: #28292b;
  height: 100vh;
  overflow: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#welcome-section h1 {
  font-size: 50px;
  margin: 0;
  font-weight: 550;
  padding-bottom: 10px;
}

#welcome-section h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 1;
}

#projects {
  text-align: center;
  padding-top: 100px;
  background-color: #f8f9fa;
  height: 100%;
  padding-bottom: 60px;
}

#projects h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800px;
  font-size: 30px;
}

#projects a {
  margin-top: 15px;
  color: #000;
  font-family: muli, sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

#container-projects {
  margin-top: 80px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 80px;
  justify-content: center;
}

.project-tile img {
  width: 400px;
  height: 400px;
}
.project-tile img:hover {
  transform: scale(1.1);
}

#about-me {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;

  background-color: #f8f9fa;
  height: 100%;
  width: 70%;
  padding-bottom: 100px;

  text-align: center;
  font-family: muli, sans-serif;
  font-size: 15px;
  line-height: 31.5px;

  margin-top: 60px;
  padding-bottom: 100px;
}
#about-me img {
  max-width: 500px;
  max-height: 500px;
}

#mydescription {
  margin-left: 100px;
}
#mydescription p {
  font-size: 18px;
}
#mydescription h2 {
  margin-top: -60px;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid;
  padding-bottom: 30px;
}

#contact {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 31.5px;
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
  color: white;
  background-color: #000;
  height: 100%;
}
#contact a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}
.container-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1380px) {
  #container-projects {
    grid-template-columns: 400px 400px;
  }
}

@media (max-width: 900px) {
  #container-projects {
    display: flex;
    flex-direction: column;
  }

  #about-me {
    flex-direction: column;
    width: 100%;
  }

  #mydescription {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  #welcome-section h1 {
    font-size: 28px;
  }
  #welcome-section h2 {
    font-size: 20px;
  }

  #about-me img {
    width: 300px;
    height: 300px;
  }
  #mydescription p {
    font-size: 16px;
  }

  #container-projects img {
    width: 270px;
    height: 270px;
  }
  #projects h2 {
    font-size: 25px;
    font-weight: 600;
  }
  .container-contact {
    display: flex;
    flex-direction: column;
  }
}
